body{
	background: url(),
	linear-gradient(50deg, #5f4ae5, #1d0b45);
}
/*Menu
----------
*/

nav.bg-opacidade{
	background: rgba(0, 0, 0, 0.8)
}
.divisor{
	width: 1px;
	background: gray;
	margin: 10px 12px;
}
.navbar-light .navbar-nav .nav-link {
	color: rgba(20, 110, 125, 0.6)!important;
	font-weight: bold!important;
}
.navbar-light .navbar-nav .nav-link:hover{
	color: white;
}
.navbar-light .navbar-brand{
	color: #0062cc;
}
/*Rodape
-----------
*/
h4, span, i{
	color: honeydew!important;
}
div.container.foot{
	padding: 25px 0px;
}
footer{
	background: #232627;
}
footer ul {
	list-style: none;
}
footer ul li {
	float: right;
	margin: 0 5px;
}
.alinhamento{
	align-self: center;
}
div.col-md-12.justificar{
	text-align: center ;
	font-weight: bold ;
}
ul.navbar-nav a{
	color: #929292;
}