html, body, #home {
	height: 100%;
	overflow-x: hidden;
}
body{

	background: url("../img/people9.png"),
	linear-gradient(to right top,
	#ff0000, #ff3100, #ff4800, #ff5900, 
	#ff6800, #ff7900, #ff8a00, #ff9900,
	#ffaf00, #ffc600, #ffdd00, #fff400) no-repeat;
	background-size: cover;
}
/*Sobre
----------
*/
div.col-md-6.justificar{
	text-align: center ;
	font-weight: bold ;
}
/*Menu
----------
*/

nav.bg-opacidade, .bg-opc{
	background: rgba(0, 0, 0, 0.8)
}
.divisor{
	width: 1px;
	background: gray;
	margin: 10px 12px;
}
.navbar-light .navbar-nav .nav-link {
	color: rgba(20, 110, 125, 0.6)!important;
	font-weight: bold!important;
}
.navbar-light .navbar-nav .nav-link:hover{
	color: white!important;
}
.navbar-light .navbar-brand{
	color: #0062cc;
}
/*Rodape
-----------
*/
h4, span, i{
	color: honeydew!important;
}
div.container.foot{
	padding: 25px 0px;
}
footer{
	background: #232627;
}
footer ul {
	list-style: none;
}
footer ul li {
	float: right;
	margin: 0 5px;

}
.alinhamento{
	align-self: center;

}

div.col-md-12.justificar, .btn-middle{/* btn-middle da classe Entrar*/
	text-align: center ;
	font-weight: bold ;
}
ul.navbar-nav a{
	color: #929292;
}



/*Sign
----------
*/
div.container.align-sign, div.row.align-sign, .align-sobre {
	height: 100%!important;
}
.bg-opc-sign{
	padding: 15px;
	background: rgba(0, 0, 0, 0.2);
}


/*Media-Query*/
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
.alinhamento{
	align-self: center;
	text-align: center;
	margin-top: 20px;
}
.mQ-es-s{
	padding: 0px;
}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
.alinhamento{
	align-self: center;
	text-align: center;
	margin-top: 20px;
}
.mQ-es-s{
	padding: 0px;
}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {  }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }