div.container.foot{
	padding: 25px 0px;
}
footer{
	background: #919496;
}
footer ul {
	list-style: none;
}
footer ul li {
	float: right;
	margin: 0 5px;
}
.teste{
	align-self: center;
}
ul.navbar-nav a{
	color: #505B55;
}